[submodule "user-service"]
	path = user-service
	url = https://github.com/BTdz2310/vsii-user.git
[submodule "auth-service"]
	path = auth-service
	url = https://github.com/BTdz2310/vsii-auth.git
[submodule "article-service"]
	path = article-service
	url = https://github.com/BTdz2310/vsii-article.git
[submodule "comment-service"]
	path = comment-service
	url = https://github.com/your-username/vsii-comment.git
[submodule "cache-service"]
	path = cache-service
	url = https://github.com/BTdz2310/vsii-cache.git
[submodule "search-service"]
	path = search-service
	url = https://github.com/BTdz2310/vsii-search.git
